 <!-- doelgroep sectie -->
    <section class="success" id="doelgroep">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Doelgroep</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                   <h3><p class="text-center">Kinderen</p></h3>
                       <ul>
                        <li><p>Vertraagde taal- en spraakontwikkeling</p></li>
                        <li><p>Leermoeilijkheden (o.a. lezen, rekenen, spelling)</p></li>
                        <li><p>Articulatiestoornissen</p></li>
                        <li><p>Stemstoornissen</p></li>
                        <li><p>Stotteren</p></li>
                        <li><p>Afwijkende mondgewoonten (o.a. foutief slikken, mondademen)</p></li>
                    </ul>
                </div>
                <div class="col-lg-6">
                   <h3><p class="text-center">Volwassenen</p></h3>
                    
                    <ul>
                        <li><p>Articulatietraining</p></li>
                        <li><p>Stemstoornissen</p></li>
                        <li><p>Neurologische taal-, spraak en slikstoornissen</p></li>
                        <li><p>Stotteren</p></li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </section>