<!-- over sectie -->
    <section id="over">
       <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Over</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>Mijn naam is Nele Belaen. In september 2010 begon ik mijn loopbaan als logopediste. Na het voltooien van mijn middelbare studies in Barnum te Roeselare, begon ik in 2007 aan mijn opleiding aan de VIVES                               campus Brugge (voorheen: KHBO). Ik behaalde in 2010 mijn diploma Bachelor in de logopedie.</p>
                    
                    
                    
                </div>
                <div class="col-lg-4">
                    <p>
                    Na mijn hogere studies ging ik meteen aan de slag als zelfstandig logopediste in een groepspraktijk.</p>
                    <p>In 2015 richtte ik mijn eigen zelfstandige praktijk op in de Kortrijksestraat 91 te Dadizele. Tot op heden combineer ik nog steeds beide jobs.
                        Door regelmatige bijscholing en cursussen hou ik me up-to-date. Als lid van de Vlaamse Vereniging voor Logopedisten (VVL) blijf ik steeds op de hoogte van de wetgeving en de vernieuwingen in onze sector.                             Met mijn reeds opgedane werkervaring sta ik steeds tot uw dienst.
                            Aarzel zeker niet om mij te contacteren!
</p>
                </div>
                <div class="col-lg-4">
                    <img class="img-responsive, center-block" src="img/nelebelaen.jpg" alt="">
                </div>
            </div>
        </div>
    </section>