 <section class="success" id="tarief">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Tarief</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                  <p>Er wordt gewerkt met de officiële tarieven vastgelegd door het RIZIV.
                      Heel wat stoornissen worden reeds terugbetaald door de mutualiteiten. Afhankelijk van bij welke instelling u bent aangesloten, kan het bedrag van terugbetaling verschillen.
</p>
            </div>
        </div>
    </section>
