<!-- werkwijze sectie -->
    <section id="werkwijze">
       <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Werkwijze</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <dl class="dl-horizontal">
                      <dt><p>Aanmelding</p></dt>
                      <dd><p>Men kan op eigen initiatief contact met mij opnemen of na doorverwijzing van arts, school, CLB, ... . In samenwerking met alle betrokkenen wordt er naar een passende behandeling gezocht en wordt de therapie opgestart.</p></dd>
                      <dt><p>Onderzoek</p></dt>
                      <dd><p>Het onderzoek wordt afgestemd op basis van de aangemelde problematiek. Elke stoornis vergt een ander onderzoek. Vooreerst wordt er steeds een intakegesprek ingepland. Indien het om een kind gaat, worden de ouders hierbij betrokken.</p>
                        <p>Na dit gesprek wordt er beslist welke therapie het meest geschikt is. Een consultatie bij een geneesheer-specialist kan, afhankelijk van de problematiek, noodzakelijk zijn.</p></dd>
                      <dt><p>Behandeling</p></dt>
                      <dd><p>Van zodra alle documenten in orde zijn kan de behandeling van start gaan. De behandeling kan doorgaan op de praktijk zelf, op school of bij de patiënt thuis. Tijdstip en frequentie worden ook steeds in samenspraak vastgelegd. </p></dd>
                    </dl>
                    
                </div>
                
        </div>
    </section>
